/* ---------------------------------------------------------
                      Buttons
   ---------------------------------------------------------*/
// button DRY

.btn {
  position: relative;
  padding: $btn-padding;
  display: inline-block;
  border: none;
  border-radius: $btn-border-radius;
  outline: none;
  overflow: hidden;
  color: $btn-color;
  background-color: $btn-background;
  text-decoration: none;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  @extend %transition;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 100%;
    visibility: hidden;
    background: #feffff;
    transform: skew(45deg);
    z-index: -1;
    transition: all .5s ease;
  }

  //&:hover,
  &.selected,
  &:active,
  &:focus {
    color: $black ;

    &:before {
      visibility: visible;
      width: 200%;
      left: -50%;
    }
  }
  &.selected{
    color: $white ;
    background: $light-black;
    box-shadow: none;
  }
}

.no-touch .btn {
  &:hover {
    color: $black !important;

    &:before {
      visibility: visible;
      width: 200%;
      left: -50%;
    }
  }
}

//.touch .btn {
//   &:focus,
//   &:active,
//   &.selected {
//     color: $black;
//
//     &:before {
//       visibility: visible;
//       width: 200%;
//       left: -50%;
//     }
//   }
// }