/* ---------------------------------------------------------
                           Header
   ---------------------------------------------------------*/

/* for paralax images */
.bg-holder {
  padding: 50px 0 150px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.bg-holder__img {
  //position: absolute;
  width: 100%;
  height: auto;
}
.is-touch-device {
  background-size: cover;
}

.header {
  position: relative;
  color: $accent;

  &-overlay {
    padding-bottom: 30px;
    background: rgba($dark, .6);
  }

  &__logo {
    display: block;
    color: $accent;
    font-size: 5.71em;
    font-family: sarina;
    text-decoration: none;
  }

  &__heading {
    margin-bottom: 0;
    font-family: russo;
    font-weight: normal;
    color: $white;

    @include media("<tablet") {
      font-size: 3.1em;
      margin-bottom: 10px;
    }
  }
  .h3 {
    @include media("<tablet") {
      font-size: 2em;
    }
  }
}

.soc {
  padding: 0;
  margin: 40px 0 0;
  font-size: 0;

  @include media("<tablet") {
    margin: 20px 0 0;
  }

  &__item {
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent;
    margin: 0 3px;
    font-size: 14px;

    @include media("<tablet") {
      margin: 0 1.5px;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 2px solid transparent;
    color: $accent;
    background: transparent;
    font-size: 1.286em;
    line-height: 39px;
    text-decoration: none;
    transition: 0.5s;

    &:before {
      vertical-align: middle;
      font-family: FontAwesome;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -2px;
      top: -2px;
      right: -2px;
      bottom: -2px;
      border: 2px solid $accent;
      border-radius: 100%;
      opacity: 1;
    }

    &:hover,
    &:focus,
    &_active {
      border: 2px solid $white;
      background: #1e1e1e;
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
      color: white;
    }
  }

  &__item .soc__link:hover,
  &__item .soc__link:focus,
  &__item .soc__link_active {
    &:after{
      border: 2px solid $white;
      transform: scale(1.4);
      transition: 0.4s;
      opacity: 0;
    }
  }
}

/*drop menu*/
#header-menu {
  transition: all 0.3s ease-in;
}

.drop-menu{
  position: absolute;
  top: 50px;
  left: 10%;
  padding: 0;
  font-size: 1.43em;
  z-index: 10;
  color: $white;

  @include media("<tablet") {
    left: 15px;
  }
  @media screen and (min-width: 1600px) {
    left: 20%;
  }

  &__over {
    overflow: hidden;
    width: 62px;
    background: transparent;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear;
  }
  &-btn{
    background: $accent;
    width: 235px;
    height: 62px;
    border: none;
    display: inline-block;
    border-radius: 0;
    transition: background 0.7s ease;
    padding: 15px 16px;
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
      background: #3a3a3a;
      color: $white;

      .btn-inner__icon {
        background: $white;
        &:before,
        &:after {
          background: $white;
        }
      }
    }
  }

  .btn-inner {
    position: relative;
    height: 100%;

    &__icon {
      position: relative;
      float: left;
      margin-top: 13px;
      width: 29px;
      height: 6px;
      background: $dark;
      transition: background 0.7s ease;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -11px;
        left: 0;
        width: 29px;
        height: 6px;
        background: $dark;
        transition: background 0.7s ease;
      }
      &:after {
        top: 11px;
      }
    }

    &__word{
      display: inline-block;
      margin-left: -50px;
      font-family: 'TrebuchetMS';
    }
    
    &__close{
      position: absolute;
      top: 14px;
      right: 25px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 5px;
        border-radius: 2px;
        background: $white;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.fixed {
   position: fixed;
   top: 0;
   left: 10%;

  @include media("<tablet") {
    left: 15px;
  }
  @media screen and (min-width: 1600px) {
    left: 20%;
  }
}

#header-menu {
  position: relative;
  overflow: hidden;
  height: 0;
  width: 185px;
}

.menu{
  margin: 0;
  padding: 10px 0;
  border-radius: 0;
  background: rgb(47, 47, 47);
  font-family: 'TrebuchetMS';

  &__item {
    list-style: none;
    background: rgb(47, 47, 47);
    text-align: left;

    &:last-child .menu__link:before{
      border: none;
    }
  }

  &__link{
    position: relative;
    display: block;
    color: $white;
    text-decoration: none;
    padding: 15px 60px 15px 25px;
    @extend %transition;

    &:hover{
      color: $accent;
      background: none;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      margin-left: -70px;
      bottom: 0;
      width: 140px;
      height: 1px;
      border-bottom: 1px dashed #b0b0b0;
    }
  }
}

