/* ---------------------------------------------------------
                            Main
   ---------------------------------------------------------*/

/* about section */
.about {
  position: relative;
  padding: 210px 0 50px;
  background: #e6e6e6;
  text-align: center;

  &-photo {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border: 15px solid rgba(255, 255, 255, 0.71);
    background: #3b3c3c; /*url("img/IMG_1479.jpg")*/
    background-size: cover;
    background-clip: content-box;
    border-radius: 50%;

  }
  &__subheading {
    color: $accent;
    font-weight: bold;
  }

  &-info {
    padding-top: 50px;
    display: flex;
  }
}

.info {
  &__icon{
    position: relative;
    margin: 0 auto 30px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 2px solid $accent;
    font-size: 2.57em;
    line-height: 82px;
    color: $accent;

    &:before {
      font-family: 'FontAwesome';
    }

    &:after{
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      width: inherit;
      height: inherit;
      border: 2px solid $accent;
      border-radius: 50%;
      opacity: 1;
      transform: scale(1);
    }
  }

  &:hover .info__icon,
  &:focus .info__icon{
    box-shadow: 0 0 12px #ff807f;

    &:after {
      border: 2px solid $white;
      transform: scale(1.6);
      transition: 0.8s;
      opacity: 0;
    }
  }
}


/*my skills*/
.skills {
  position: relative;
  text-align: center;

  &-overlay {
    padding: 15px 0;
    background: rgba(138, 139, 139, 0.4);
  }
  .h4, h2 {
    color: $white;
  }
  .bg-holder {
    padding-top: 70px;
    height: 490px;
  }
}

.percent {

  &_wrap {
    display: flex;
    margin-top: 20px;
  }

  &__circle {
    width: 140px;
    height: 141px;
    border-radius: 50%;
    border: 11px solid #1a1a1a;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__shadow {
    position: relative;
    width: 118px;
    height: 119px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.31);
  }

  &__lang{
    color: #feffff;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__chart {
    position: relative;
    left: 50%;
    margin-left: -95px;
    top: -25px;
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__outer {
    fill: none;
    stroke: rgba(0, 0, 0, 0.31);
    stroke-width: 11;
    stroke-dasharray: 534;
    animation-play-state: running;
    animation-duration: 0.5s;
    opacity: 1;
  }

  &__value {
    position: absolute;
    top: 50px;
    left: 45px;
    margin: 25px 18px;
    color: #feffff;
    font-family: 'russo';
    font-size: 30px;
  }
}

@keyframes show85 {
  from {  stroke-dashoffset: 537;  }
  to {  stroke-dashoffset: 200;  }
}

@keyframes show25 {
  from {  stroke-dashoffset: 537;  }
  to {  stroke-dashoffset: 430;  }
}

@keyframes show50 {
  from {  stroke-dashoffset: 537;  }
  to {  stroke-dashoffset: 330;  }
}

@keyframes show70 {
  from {  stroke-dashoffset: 537;  }
  to {  stroke-dashoffset: 250;  }
}











// @extend %flex;           // flex-wrap:wrap; justify-content:space-between; align-items:center; display:flex;
// @extend %clearfix;       // &:after { content:''; display:block; clear:both; }
// @extend %transition;     // (all 0.5s ease)
// @extend %listreset;      // (margin:0; padding:0; list-style: none;)
// @extend %ellipsis;       // Match text...


// @include animate(color)          // (transform opacity, .6s) // (visibility opacity); (0.3s ease-in-out)
// @include size(16px)              // (15px, 4px);
// @include v-align(100%);          // vertical align el inside parent with fixed height/min-height
// @include placeholder;            // input { @include placeholder {color: red;} }
// @include hide-text;              // overflow:hidden; text-indent:101%; white-space:nowrap;
// @include center_transform();     // left:50%; top:50%; transform:translate(-50%, -50%); position:absolute;
// @include verrical_center_transform();    // left:0; top:50%; width: 100%; transform:translate(0, -50%); position:absolute;
// @include font(14px, 18px, #000);         // font-size, line-height, color
// @include triangle(20px, red, up);
// @include animate(color width, 1s, linear);
// @include gradient(left, right, rgba(0,0,0,1), rgba(255,255,255,1));

// font: italic 15px/1.75em 'Times New Roman';



//@include media("<480px") {}

//@include media(">=480px") {}

//@include media("<tablet") {}

//@include media(">=tablet") {}

//@include media("<992px") {}

//@include media(">=992px") {}

//@include media("<1200px") {}

//@include media(">=1200px") {}

//@include media("<1200px", ">991px") {}







